body {
    --font-size: 13px;
    --interactible-font: cyan;
    margin: 0;
    font-family: monospace;
    font-size: var(--font-size);
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

.interactible-font_color {
    color: var(--interactible-font);
}