body {
    --font-size: 12px;
    --popup-color: cyan;
    margin: 0;
    font-family: monospace;
    font-size: var(--font-size);
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

.interactible{
    text-decoration: underline !important;
    cursor: pointer !important;
}

.context_menu {
    position: relative;
}

.context_menu:after {
    content: "+";
    font-size: calc(var(--font-size) * 1);
    line-height: var(--font-size);

    scale: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.popup__color {
    cursor: pointer;
    text-decoration: underline;
    color: var(--popup-color);
}