body {
    --font-size: 12px;
    --popup-color: cyan;
    margin: 0;
    font-family: monospace;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.5);
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

body .interactible{
    text-decoration: underline ;
    cursor: pointer ;
}

.context_menu {
    position: relative;
}

.context_menu:after {
    content: "⋯";
    font-size: calc(var(--font-size) * 1.3);
    line-height: calc(var(--font-size) * 0.4);
    /*background-color:var(--popup-color);*/
    /*color: black;*/
    color: var(--popup-color);
    position: absolute;
    top: 0;
    right: 0;
}

body .popup__color {
    cursor: pointer;
    text-decoration: underline;
    color: var(--popup-color);
}