.MapView {
    display: flex;
    flex-wrap: nowrap;
}

.MapView > div {
    display: flex;
    margin: auto 0 auto 0;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: center;
}

.MapView > div > div {
    flex-wrap: nowrap;
}

.MapView .column {
    display: flex;
}