.cell {
    --padding: calc(var(--font-size) * 0.7);
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: default;

    width: calc(var(--font-size) + (2 * var(--padding)));
    height: calc(var(--font-size) + (2 * var(--padding)));
    position: relative;
    /*max-height: var(--font-size);*/
    /*min-height: var(--font-size);*/

    /*box-shadow: inset 0 0 1px 1px #171717;*/
}

/*.cell > * {*/
/*    padding-top: var(--padding);*/
/*    padding-bottom: var(--padding);*/
/*}*/
/*.cell > *:first-child {*/
/*    padding-left: var(--padding);*/
/*}*/
/*.cell > *:last-child {*/
/*    padding-right: var(--padding);*/
/*}*/
.cell .content {
    position: absolute;
    justify-self: center;
    display: flex;
}
.cell .content svg {
    width: calc(var(--font-size) + ( 2 *var(--padding)));
    height: calc(var(--font-size) + (2 *var(--padding)));
    filter: brightness(0) invert(0.25);
}

.cell.onClick:hover {
    box-shadow: inset 0 0 1px 1px #7f7f7f;
}

.cell .break {
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
}