.cell {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: default;

    width: var(--font-size );
    height: var(--font-size );
    max-height: var(--font-size );
    min-height: var(--font-size );
    padding: 5px;
}
.cell .content {
    justify-self: center;
    display: flex;
}
.cell:hover {
    box-shadow: inset 0 0 0 3px #7f7f7f;
}
.cell .break {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}