.terminal__prompt {
    display: inline;
}

.terminal__prompt--user {
    color: #7eda28;
}

.terminal__prompt--machine   {
    color: #ad80a8;
}

.terminal__prompt--location {
    color: #4878c0;
}

.terminal__prompt--bling {
    color: #dddddd;
    margin-right: calc(var(--font-size) / 1.5);
}
